<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Allegro_PCIE_Lane_Parser.userProjectSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Allegro_PCIE_Lane_Parser.userProjectSettings>
            <setting name="cadenceToolLocation" serializeAs="String">
                <value>C:\Cadence\SPB_17.2\tools\bin</value>
            </setting>
            <setting name="pcieNetIdentifier" serializeAs="String">
                <value>P5E</value>
            </setting>
            <setting name="clockNetIdentifier" serializeAs="String">
                <value>CLK</value>
            </setting>
            <setting name="upiNetIdentifier" serializeAs="String">
                <value>UPI</value>
            </setting>
            <setting name="usbNetIdentifier" serializeAs="String">
                <value>USB</value>
            </setting>
            <setting name="positiveDiffPairIdentifier" serializeAs="String">
                <value>_DP</value>
            </setting>
            <setting name="negativeDiffPairIdentifier" serializeAs="String">
                <value>_DN</value>
            </setting>
        </Allegro_PCIE_Lane_Parser.userProjectSettings>
    </userSettings>
</configuration>